.container{
  display: flex;
  height: 100%;
  justify-content: center;
}

.coffee_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
  padding: 100px 0;
}